ansimarkup==1.4.0
appdirs==1.4.3
attrs==19.3.0
autopep8==1.5
black==18.9b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
openpyxl==3.0.3
pkg-resources==0.0.0
pycodestyle==2.5.0
requests==2.22.0
toml==0.10.0
tqdm==4.42.1
urllib3==1.25.8
